[tool.semantic_release]
version_toml = ["pyproject.toml:tool.semantic_release.version"]
version_variables = []
version = "0.5.0"
build_command = ""
commit_message = "chore(release): {version}"
commit_parser = "conventional"
tag_format = "v{version}"
major_on_zero = true
allow_zero_version = true

[tool.semantic_release.branches.main]
match = "main"
prerelease = false

[tool.semantic_release.changelog]
exclude_commit_patterns = []

[tool.semantic_release.changelog.default_templates]
changelog_file = "CHANGELOG.md"
template_dir = ".github/release_templates"

[tool.semantic_release.changelog.environment]
keep_trailing_newline = true

[tool.semantic_release.commit_parser_options]
allowed_tags = [
    "feat",
    "fix",
    "docs",
    "style",
    "refactor",
    "perf",
    "test",
    "build",
    "ci",
    "chore",
    "revert"
]
minor_tags = ["feat"]
patch_tags = ["fix", "perf"]

[tool.semantic_release.remote]
type = "github"
